<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; LKG Book Store, Inc. @DateTime.Now.Year
        @*<a href="mailto:lokesh.kumawat143@gmail.com">lokesh.kumawat143@gmail.com</a>
            <custom-email></custom-email>*@
    </div>
</footer>