################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LKGGroup.Bookstore/.vs/LKGGroup.Bookstore
/LKGGroup.Bookstore/LKGGroup.Bookstore/bin/Debug/net5.0
/LKGGroup.Bookstore/LKGGroup.Bookstore/obj
