@{
    ViewData["Title"] = "All Books";
}
@model IEnumerable<BookModel>
<div class="container">
    <h6 class="display-4">All Books</h6>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="@book"/>   
            </div>
        }
    </div>
</div>
